{# <h1>{{authorized_name}} {{authorized_lastname_name}}</h1>

<h3>Текущие дата и время: {{ "now"|date("d-m-Y H:i") }}</h3> #}
<div class="top container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
				<use xlink:href="#bootstrap"></use>
			</svg>
		</a>
		<nav class="navigation">{% include navigation_template_name %}</nav>
		<div id="header">
			{% include "auth-template.twig" %}
		</div>
	</header>
</div>
