<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
		<title>{{ title }}</title>
	</head>
	<body>
		<div class="top">
			<header>{% include header_template_name %}</header>
			<nav class="navigation">{% include navigation_template_name %}</nav>
		</div>
		<div class="middle">
			<main>{% include content_template_name %}</main>
			<sidebar>{% include sidebar_template_name %}</sidebar>
		</div>
		<footer>{% include footer_template_name %}</footer>
	</body>
</html>
