<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
		<title>{{ title }}</title>
	</head>
	<body>
		<div class="top container">
			<header class="header">{% include header_template_name %}</header>
			<nav class="navigation">{% include navigation_template_name %}</nav>
		</div>
		<div class="middle container">
			<main class="main">{% include content_template_name %}</main>
			<sidebar class="sidebar">{% include sidebar_template_name %}</sidebar>
		</div>
		<footer class="footer container">{% include footer_template_name %}</footer>
	</body>
</html>
